body {
  size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  line-height: 1.8;
}

main section:not(:last-child){
  border-bottom: 1px solid black;
}


article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

h1 {
  margin: 1em auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  margin: 0 0;
  font-size: 18px;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
