body {
  size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  line-height: 1.8;
}

main section:not(:last-child){
  border-bottom: 1px solid black;
}


article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

h1 {
  margin: 1em auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  margin: 0 0;
  font-size: 18px;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

.job {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.job .title {
  color: #2F4F4F;
  font-weight: bold;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
  padding-top: 1em;
}

.job .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%
}

.job .descrition p{
  padding-left: 1em;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

ul {
  margin: 1em;
}

ul.list-dashed {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list-dashed > li {
  padding-left: 1em;
}

ul.list-dashed >li:before {
  content: "#";
  padding-right: 0.5em;
  color: #2F4F4F;
  font-weight: bold;
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
